.brands{
    background-color: $rose;
    @include flexcenter(row);
    padding-top: 80px;
    padding-bottom: 80px;
    .brside{
        @include flexcenter(row);
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            background-color: #F3D1BF;
            position: absolute;
            top: 100px;
        }
    }
}