.help{
    @include cont;
    padding-top: 140px;
    padding-bottom: 130px;
    .help-cont{
        .help-head{
            h3{
                @include name;
            }
            h2{
                @include headfont;
                width: 300px;
                font-size: 2.5rem;
                line-height: 48px;
            }
        }
        .boxes{
            display: flex;
            flex-wrap: wrap;
            .box{
                border: 1px solid #F3D1BF;
                flex: 1;
                padding: 50px 0 60px 50px;
                .img{
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    position: relative;
                    .inner{
                        @include centerposition;
                    }
                }
                .box-txt{
                    h2{
                        font-family: $font;
                        line-height: 32px;
                        color: $yavis;
                        text-transform: capitalize;
                        font-size: 1.2rem;
                        padding: 30px 0 20px 0;
                    }
                    p{
                        color: $yavis;
                        opacity: 64%;
                        line-height: 32px;
                        padding-bottom: 40px;
                        padding-right: 50px;
                        min-width: 200px;
                    }
                    a{
                        color: $yavis;
                    }
                }
            }
        }
    }
}