@media (max-width: 1200px){
    .container{
        width: 992px;
    }
    .header{
        .nav{
            ul{
                gap: 60px;
            }
        }
        .modern-studio{
            .txt{
                h1{
                    font-size: 3rem;
                }
            }
            img{
                width: 500px;
            }
        }
    }
    .feat{
        padding-top: 100px;
        .feat-cont{
            flex-direction: column;
            .txt{
                padding-bottom: 20px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    .service{
        .service-cont{
            align-items: center;
            .img{
                width: 800px;
                img{
                    width: 100%;
                }
            }
        }
    }
    .portfolio{
        .portfolio-cont{
            .box{
                width: 450px;
                overflow: hidden;
            }
        }
    }
}
@media (max-width: 992px){
    .container{
        width: 768px;
    }
    .header{
        .nav{
            ul{
                gap: 30px;
            }
        }
        .modern-studio{
            .txt{
                h1{
                    font-size: 2rem;
                }
            }
            img{
                width: 400px;
            }
        }
    }
    .div-prof{
        padding-top: 50px;
    }
    .about{
        padding-top: 10px;
        .about-cont{
            flex-direction: column;
            .img{
                width: 90%;
                height: auto;
                img{
                    width: 100%;
                }
            }
            .txt{
                padding-left: 0px;
                padding-top: 30px;
                h3{
                    padding-bottom: 20px;
                }
                h2{
                    text-align: left;
                    width: 60%;
                    padding-bottom: 20px;
                }
            }
        }
    }
    .video{
        .video-cont{
            align-items: center;
            .img{
                width: 50%;
            }
            .txt{
                width: 45%;
                h3{
                    padding-bottom: 10px;
                }
                h2{
                    font-size: 1.5rem;
                    padding-bottom: 10px;
                }
            }
        }
    }
    .features{
        .features-cont{
            .img{
                width: 60%;
                img{
                    width: 100%;
                }
            }
        }
    }
    .service{
        padding-top: 100px;
        .service-cont{
            flex-direction: column;
            gap: 50px;
            .img{
                width: 500px;
            }
        }
    }
    .portfolio{
        overflow-x: hidden;
        .portfolio-cont{
            .boxes{
                justify-content: center;
                .none{
                    display: none;
                }
            }
        }
    }
    .contact{
        .contact-cont{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 100px;
            padding-top: 100px;
            padding-bottom: 100px;
            gap: 80px;
            .star-img{
                top: -10%;
                left: 8%;
            }
            .girl{
                top: 58%;
                left: 20%;
            }
            .txt{
                h2{
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 768px){
    .container{
        width: 570px;
    }
    .header{
        .modern-studio{
            flex-direction: column-reverse;
            align-items: center;
            .img{
                width: 90%;
                img{
                    width: 100%;
                }
            }
            .txt{
                background-image: none;
                width: 90%;
                text-align: center;
                padding-top: 30px;
                h1{
                    padding-top: 20px;
                    line-height: 40px;
                    padding-bottom: 20px;
                }
                p{
                    padding-bottom: 20px;
                }
            }
            .links{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .nav{
            nav{
                display: none;
            }
            .burger{
                display: block;
            }
        }
        .contact-btn{
            display: none;
        }
    }
    .div-prof{
        .profile{
            justify-content: center;
        }
    }
    .brands{
        padding-top: 20px;
        .brside{
            justify-content: center;
            gap: 30px;
            &::after{
                top: 130px;
            }
        }
    }
    .about{
        .about-cont{
            .txt{
                h2{
                    font-size: 3rem;
                }
            }
        }
    }
    .stat{
        .stat-cont{
            flex-direction: column;
        }
    }
    .work{
        .work-cont{
            flex-direction: column;
            .txt{
                width: 100%;
            }
            .numbers{
                padding-left: 0px;
            }
        }
    }
    .video{
        .video-cont{
            flex-direction: column;
            align-items: flex-start;
            .img{
                width: auto;
            }
            .txt{
                width: auto;
                padding-top: 30px;
            }
        }
    }
    .features{
        .features-cont{
            flex-direction: column-reverse;
            align-items: flex-start;
            .img{
                width: 90%;
            }
        }
    }
}
@media (max-width: 576px){
    .container{
        width: 360px;
    }
    .header{
        .modern-studio{
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 50px;
            .img{
                width: 90%;
                img{
                    width: 100%;
                }
            }
            .txt{
                background-image: none;
                width: 90%;
                text-align: center;
                padding-top: 30px;
                h1{
                    padding-top: 20px;
                    line-height: 40px;
                    padding-bottom: 20px;
                }
                p{
                    padding-bottom: 20px;
                }
            }
        }
        .links{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .div-prof{
        .profile{
            justify-content: center;
        }
    }
    .brands{
        .brside{
            &::after{
                top: 200px;
            }
        }
    }
    .about{
        .about-cont{
            .txt{
                padding-left: 5px;
                padding-right: 5px;
                h2{
                    font-size: 2rem;
                }
            }
        }
    }
    .features{
        padding-top: 50px;
    }
    .feat{
        padding-top: 50px;
        .feat-cont{
            align-items: flex-start;
            .txt{
                text-align: left;
            }
            .right{
                flex-direction: column;
                .acces{
                    padding-right: 100px;
                }
            }
        }
    }
    .service{
        padding-top: 50px;
        .service-cont{
            gap: 0px;
            .img{
                width: 360px;
                img{
                    width: 100%;
                }
            }
            .txt{
              .top-txt{
                  h3{
                      padding-bottom: 20px;
                  }
                  h2{
                      font-size: 2rem;
                      padding-bottom: 0px;
                      line-height: 35px;
                  }
                  p{
                      padding-bottom: 20px;
                  }
              }
            }
            .serv-prof{
                .prof-img{
                    width: 100px;
                    height: 70px;
                }
            }
        }
    }
    .contact{
        .contact-cont{
            padding-left: 10px;
        }
    }
}

@media (max-width: 375px){
    .about{
        .about-cont{
           .txt{
               h2{
                   width: 80vw;
               }
           }
        }
    }
    .work{
        .work-cont{
            .txt{
                p{
                    width: 360px;
                }
            }
        }
    }
    .features{
        padding-top: 20px;
        overflow-x: hidden;
        .features-cont{
            .txt{
                h2{
                    font-size: 2rem;
                    width: 360px;
                }
                p{
                    width: 360px;
                }
            }
        }
    }
    .feat{
        .feat-cont{
            overflow-x: hidden;
            .right{
                align-items: flex-start;
                .prof{
                    padding-right: 65px;
                }
                .acces{
                    padding-right: 65px;
                }
            }
        }
    }
}