.portfolio{
    sup {font-size:small; vertical-align:super;}
    @include cont;
    background-color: $headbg;
    padding-top: 100px;
    .portfolio-cont{
        .portfolio-head{
            h3{
                @include name;
                text-align: center;
            }
            h2{
                text-align: center;
                color: white;
                font-size: 3rem;
                text-transform: capitalize;
            }
            .list{
                padding-top: 30px;
                padding-bottom: 80px;
                @include flexcenter(row);
                ul{
                    display: flex;
                    gap: 45px;
                    a{
                        color:  white;
                        opacity: 64%;
                    }
                }
            }
        }
        .boxes{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            .box{
                position: relative;
                .txt{
                    position: absolute;
                    bottom: 55px;
                    left: 45px;
                    h3{
                       margin-bottom: 35px;
                       padding: 10px 20px 15px 20px;
                       background-color: white;
                       border-radius: 20px;
                       color: $yavis;
                    }
                    h2{
                        color: white;
                        font-size: 2rem;
                    }
                    .upper{
                        text-transform: uppercase;
                    }
                }
            }
        }
        .explore{
            padding-top: 75px;
            padding-bottom: 115px;
            text-align: center;
            a{
                padding: 25px 35px 15px 35px;
                border: 1px solid rgba(255, 255, 255, 0.29);
                color: white;
                text-transform: uppercase;
            }
        }
    }
}