img{
    width: 100%;
}
a{
    transition: 0.5s;
}
a:hover{
    color: #EF6D58 !important;
}
.headbg{
    background-color: #28293E;
    font-family: 'Epilogue', sans-serif;
}
.menu{
    gap: 70px;
}
.contact-btn{
    border: 1px solid rgba(255, 255, 255, 0.29);
}
.burger{
    cursor: pointer;
}
h1{
    font-size: 3.5rem;
}
.about{
    background-color: #FDF0E9;
}
div{
    font-family: 'Epilogue', sans-serif;
    overflow: hidden;
    
}
.headname{
    color: #EF6D58;
    letter-spacing: 3px;
}
p{
    color: #391400;
    opacity: 64%;
}
.player{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.oval{
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.time{
    width: auto;
    bottom: 2rem;
    left: 3rem;
}
.features{
    background-color: #FDF0E9 ;
}
.prof img{
    width: auto;
}
.prof{
    background-color: white;
    border-color: #F3D1BF !important;
}
.acces{
    border-color: #F3D1BF !important;
}
.icon{
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.prof-img{
    width: 80px;
}
.members{
    background-color: #FDF0E9;
}
.members h4, h5{
    color: #391400;
}
.team{
    background-color: #28293E;
}
.fa-arrow-left-long, .fa-arrow-right-long{
    cursor: pointer;
}
.member-box{
    border-color: #F3D1BF !important;
}
.arrow-team{
    border-color: rgba(255, 255, 255, 0.29) !important;
}
.team-img{
    height: 272px;
    border-color: #3A3C56 !important;
    min-width: 260px !important;
}
.team-img img{
    width: auto;
}
.box{
    min-width: 260px;
    cursor: pointer;
}
.dot{
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.active{
    background-color: #EF6D58;
    border-color: #EF6D58 !important;
}
.testi{
    background-color: #28293E ;
}
.star img{
    width: auto;
}
.clients-txt p{
    color: #391400;
    opacity: 64%;
}
.clients-prof-img img{
    width: auto;
}
.clients-prof-txt h4{
    font-size: 1rem !important;
    color: #391400;
}
.clients-prof-txt h5{
    font-size: 0.9rem !important;
    color: #391400;
}
.clients-txt p{
    font-size: 0.8rem;
}
.main{
    background-color: white;
    height: 400px;
    min-width: 770px !important;
    max-width: 770px !important;
    cursor: pointer;
}
.first{
    background-color: white;
    height: 336px;
    width: 700px;
    overflow: hidden;
    opacity: 24%;
    min-width: 770px !important;
    max-width: 770px !important;
    cursor: pointer;
}
.sec{
    background-color: white;
    height: 336px;
    width: 700px;
    overflow: hidden;
    opacity: 24%;
    min-width: 770px !important;
    max-width: 770px !important;
    cursor: pointer;
}
.main-txt p{
    color: #391400;
    opacity: 64%;
}
.prof-txt h4, h5{
    color: #391400;
}
.faq{
    background-color: #28293E;
}
.faq-p{
    opacity: 64%;
}

.faq-cont{
    max-width: 770px;
}

.box-img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.open-box{
    background-color: white;
}
.box-head h2{
    color: #391400;
}
.closed-box{
    border-color: #3A3C56 !important;
}
.companys-box img{
    width: auto;
    cursor: pointer;
}
.companys{
    background-color: #28293E;
}
.help{
    background-color: #28293E;
  
}
.help-box{
    background-color: #EF6D58;
}
.help-txt p{
    opacity: 64%;
}
.help-txt a{
    color: #391400;
    background-color: white;
}

.footer{
    background-color: #FDF0E9;
    color: #391400;
    padding-top: 250px;
}
.foot-link{
    color: #391400;
}
.soc-icon{
    width: 48px;
    height: 48px;
    background-color: #EF6D58;
    cursor: pointer;
}

li{
    list-style: none;
}
@media (max-width: 770px){
    .main{
        min-width: 375px !important;
        max-width: 375px !important;
        height: auto;
    }
}