.container {
  width: 1170px;
  font-family: "Epilogue", sans-serif;
}
.header {
  background-color: #28293E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

.header .nav ul li a {
  color: white;
  font-family: "Epilogue", sans-serif;
}

.header .nav .contact-btn {
  text-transform: uppercase;
  color: white;
  font-family: "Epilogue", sans-serif;
  border: 1px solid #8E8F99;
  padding: 18px 40px 10px 40px;
  border-radius: 10px;
}

.header .nav .burger {
  border: 1px solid rgba(255, 255, 255, 0.29);
  padding: 10px 15px;
  border-radius: 5px;
  display: none;
  cursor: 375;
}

.header .nav .burger .fa-bars {
  color: white;
}

.header .modern-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 130px;
}

.header .modern-studio .txt {
  width: 45%;
  background-image: url(../images/Star.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 230px;
}

.header .modern-studio .txt h2 {
  color: #EF6D58;
  font-family: "Epilogue", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header .modern-studio .txt h1 {
  font-size: 4.5rem;
  color: white;
  font-family: "Epilogue", sans-serif;
  text-transform: capitalize;
  letter-spacing: -2.00016px;
  padding-top: 70px;
  padding-bottom: 35px;
  line-height: 80px;
  position: relative;
}

.header .modern-studio .txt p {
  color: #A0A1AA;
  font-family: "Epilogue", sans-serif;
  line-height: 32px;
  padding-bottom: 50px;
}

.header .modern-studio .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .modern-studio .links .work {
  width: 155px;
  height: 48px;
  background-color: #EF6D58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 45px;
}

.header .modern-studio .links .work a {
  color: white;
  font-family: "Epilogue", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .modern-studio .links .work a:hover {
  color: #28293E;
}

.header .modern-studio .links a {
  color: white;
  font-family: "Epilogue", sans-serif;
  padding-top: 10px;
}

.div-prof {
  background-color: #28293E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.div-prof .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.div-prof .profile .txt {
  padding-left: 15px;
  font-family: "Epilogue", sans-serif;
}

.div-prof .profile .txt p {
  padding-bottom: 10px;
  color: #FFFFFF;
  opacity: 64%;
}

.div-prof .profile .txt span {
  color: white;
}

.brands {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 80px;
  padding-bottom: 80px;
}

.brands .brside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands .brside::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #F3D1BF;
  position: absolute;
  top: 100px;
}

.about {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 60px;
}

.about .about-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-cont .txt {
  padding-left: 130px;
}

.about .about-cont .txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.about .about-cont .txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  line-height: 64px;
}

.about .about-cont .txt h4 {
  font-size: 1.25rem;
  color: #391400;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 30px;
}

.about .about-cont .txt p {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  padding-bottom: 50px;
}

.about .about-cont .txt a {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  text-transform: uppercase;
  background-color: white;
  padding: 25px 35px 15px 35px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

.stat {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 160px;
  padding-bottom: 140px;
}

.stat .stat-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stat .stat-cont .box {
  border: 1px solid #F3D1BF;
  padding: 60px 0px 50px 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.stat .stat-cont .box h2 {
  font-size: 2.5rem;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 15px;
}

.stat .stat-cont .box h3 {
  font-family: "Epilogue", sans-serif;
}

.work {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.work .work-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work .work-cont .txt {
  width: 40%;
}

.work .work-cont .txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.work .work-cont .txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 48px;
}

.work .work-cont .txt p {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  padding-bottom: 50px;
  width: 110%;
}

.work .work-cont .txt a {
  font-family: "Epilogue", sans-serif;
  color: #391400;
}

.work .work-cont .numbers {
  padding-left: 170px;
  margin-top: 80px;
}

.work .work-cont .numbers .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.work .work-cont .numbers .box h2 {
  font-size: 4.5rem;
  font-family: "Epilogue", sans-serif;
  color: #391400;
}

.work .work-cont .numbers .box p {
  font-size: 1rem;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-left: 75px;
}

.work .work-cont .numbers .first p {
  padding-left: 90px;
}

.work::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #F3D1BF;
  position: absolute;
  bottom: 0;
}

.video {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 125px;
}

.video .video-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video .video-cont .img {
  width: 45%;
  height: auto;
  position: relative;
}

.video .video-cont .img .main-img {
  width: 100%;
}

.video .video-cont .img .play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video .video-cont .img .triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video .video-cont .img .time {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.video .video-cont .txt {
  width: 40%;
}

.video .video-cont .txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.video .video-cont .txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 48px;
}

.video .video-cont .txt p {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  padding-bottom: 50px;
}

.features {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 190px;
}

.features .features-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features .features-cont .txt {
  width: 400px;
}

.features .features-cont .txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.features .features-cont .txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  line-height: 56px;
  padding-bottom: 35px;
}

.features .features-cont .txt .txt-p {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  padding-bottom: 50px;
  opacity: 1;
  line-height: 32px;
  padding-bottom: 10px;
}

.features .features-cont .txt .list .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.features .features-cont .txt .list .box p {
  opacity: 0.64;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-left: 10px;
}

.feat {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 200px;
}

.feat .feat-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feat .feat-cont .txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.feat .feat-cont .txt p {
  font-size: 1.25rem;
  width: 370px;
  font-family: "Epilogue", sans-serif;
  line-height: 32px;
  color: #391400;
  padding-bottom: 50px;
}

.feat .feat-cont .txt a {
  font-family: "Epilogue", sans-serif;
  color: #391400;
}

.feat .feat-cont .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.feat .feat-cont .right .prof {
  background-color: white;
  border: 1px solid #F3D1BF;
  padding: 50px 100px 50px 50px;
}

.feat .feat-cont .right .prof h2 {
  font-size: 1.5rem;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 25px;
  padding-top: 50px;
}

.feat .feat-cont .right .prof p {
  color: #391400;
  opacity: 64%;
  font-family: "Epilogue", sans-serif;
  width: 240px;
  line-height: 32px;
}

.feat .feat-cont .right .prof .img {
  width: 80px;
  position: relative;
}

.feat .feat-cont .right .prof .img .icon {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feat .feat-cont .right .acces {
  padding: 70px 50px 50px 50px;
  border: 1px solid #F3D1BF;
}

.feat .feat-cont .right .acces h2 {
  font-size: 1.5rem;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 25px;
  padding-top: 50px;
  text-transform: capitalize;
}

.feat .feat-cont .right .acces p {
  color: #391400;
  opacity: 64%;
  font-family: "Epilogue", sans-serif;
  width: 240px;
  line-height: 32px;
}

.service {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 200px;
}

.service .service-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

.service .service-cont .txt {
  padding-top: 30px;
}

.service .service-cont .txt .top-txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.service .service-cont .txt .top-txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  line-height: 64px;
}

.service .service-cont .txt .top-txt p {
  font-family: "Epilogue", sans-serif;
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  padding-bottom: 50px;
  opacity: 1;
}

.service .service-cont .txt .serv-prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.service .service-cont .txt .serv-prof .prof-img {
  background-color: #F7CB47;
  border-radius: 50%;
}

.service .service-cont .txt .serv-prof p {
  color: #391400;
  opacity: 64%;
}

.service .service-cont .txt .serv-prof h2 {
  margin-top: 20px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
}

.service .service-cont .txt .service-link {
  padding-top: 50px;
}

.service .service-cont .txt .service-link a {
  background-color: white;
  padding: 20px 45px 15px 45px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  -webkit-box-shadow: 0px 0px 10px -6px #000000;
          box-shadow: 0px 0px 10px -6px #000000;
}

.help {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 140px;
  padding-bottom: 130px;
}

.help .help-cont .help-head h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.help .help-cont .help-head h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  width: 300px;
  font-size: 2.5rem;
  line-height: 48px;
}

.help .help-cont .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.help .help-cont .boxes .box {
  border: 1px solid #F3D1BF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 50px 0 60px 50px;
}

.help .help-cont .boxes .box .img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.help .help-cont .boxes .box .img .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.help .help-cont .boxes .box .box-txt h2 {
  font-family: "Epilogue", sans-serif;
  line-height: 32px;
  color: #391400;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 30px 0 20px 0;
}

.help .help-cont .boxes .box .box-txt p {
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  padding-bottom: 40px;
  padding-right: 50px;
  min-width: 200px;
}

.help .help-cont .boxes .box .box-txt a {
  color: #391400;
}

.portfolio {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #28293E;
  padding-top: 100px;
}

.portfolio sup {
  font-size: small;
  vertical-align: super;
}

.portfolio .portfolio-cont .portfolio-head h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
  text-align: center;
}

.portfolio .portfolio-cont .portfolio-head h2 {
  text-align: center;
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
}

.portfolio .portfolio-cont .portfolio-head .list {
  padding-top: 30px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio .portfolio-cont .portfolio-head .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.portfolio .portfolio-cont .portfolio-head .list ul a {
  color: white;
  opacity: 64%;
}

.portfolio .portfolio-cont .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio .portfolio-cont .boxes .box {
  position: relative;
}

.portfolio .portfolio-cont .boxes .box .txt {
  position: absolute;
  bottom: 55px;
  left: 45px;
}

.portfolio .portfolio-cont .boxes .box .txt h3 {
  margin-bottom: 35px;
  padding: 10px 20px 15px 20px;
  background-color: white;
  border-radius: 20px;
  color: #391400;
}

.portfolio .portfolio-cont .boxes .box .txt h2 {
  color: white;
  font-size: 2rem;
}

.portfolio .portfolio-cont .boxes .box .txt .upper {
  text-transform: uppercase;
}

.portfolio .portfolio-cont .explore {
  padding-top: 75px;
  padding-bottom: 115px;
  text-align: center;
}

.portfolio .portfolio-cont .explore a {
  padding: 25px 35px 15px 35px;
  border: 1px solid rgba(255, 255, 255, 0.29);
  color: white;
  text-transform: uppercase;
}

.contact {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #28293E;
}

.contact .contact-cont {
  background-color: #FDF0E9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px 50px 0px;
  position: relative;
}

.contact .contact-cont .main-img {
  height: 192px;
  overflow: hidden;
}

.contact .contact-cont .star-img {
  position: absolute;
  top: -23%;
  left: 2%;
}

.contact .contact-cont .girl {
  position: absolute;
  top: -15%;
  right: 3%;
}

.contact .contact-cont .txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
  padding-bottom: 25px;
}

.contact .contact-cont .txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 1.3rem;
  line-height: 32px;
  width: 200px;
}

.contact .contact-cont .txt a {
  padding: 25px 40px 15px 40px;
  background-color: #EF6D58;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
}

.explore {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #28293E;
  padding-top: 140px;
}

.explore .explore-cont .explore-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore .explore-cont .explore-txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.explore .explore-cont .explore-txt h2 {
  font-size: 3rem;
  color: white;
  text-transform: capitalize;
  width: 400px;
  text-align: center;
  line-height: 58px;
}

.explore .explore-cont .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 70px;
}

.explore .explore-cont .boxes sup {
  font-size: medium;
}

.explore .explore-cont .boxes .box {
  padding: 50px 45px 50px 30px;
  border: 1px solid #3A3C56;
  border-radius: 10px;
}

.explore .explore-cont .boxes .box h4 {
  font-size: 4rem;
  position: relative;
  color: white;
}

.explore .explore-cont .boxes .box .year {
  position: absolute;
  left: 50px;
  top: 15px;
  font-size: 1.1rem;
}

.explore .explore-cont .boxes .box .date {
  position: absolute;
  top: -10px;
  left: 50px;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.explore .explore-cont .boxes .box h3 {
  color: white;
  padding-left: 23px;
  position: relative;
  padding-bottom: 50px;
}

.explore .explore-cont .boxes .box h3::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #EF6D58;
  position: absolute;
  top: 2px;
  left: 0;
}

.explore .explore-cont .boxes .box h2 {
  color: white;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding-top: 45px;
  padding-bottom: 30px;
}

.explore .explore-cont .boxes .box p {
  color: white;
  opacity: 64%;
  line-height: 32px;
  width: 290px;
  padding-bottom: 45px;
}

.explore .explore-cont .boxes .box a {
  color: white;
}

.explore .explore-cont .boxes .box hr {
  height: 1px;
  color: #3A3C56;
}

.explore .explore-cont .boxes .box .sec {
  left: 75px;
}

.team {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #28293E;
  padding-top: 140px;
  padding-bottom: 170px;
}

.team .team-cont .team-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .team-cont .team-head .team-txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.team .team-cont .team-head .team-txt h2 {
  font-size: 2rem;
  color: white;
  width: 300px;
  line-height: 42px;
}

.team .team-cont .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.team .team-cont .arrows .arrow {
  padding: 15px;
  width: 28px;
  height: 28px;
  border: 1px solid rgba(255, 255, 255, 0.29);
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.team .team-cont .profiles {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 25px;
  overflow-x: hidden;
}

.team .team-cont .profiles .box {
  cursor: pointer;
}

.team .team-cont .profiles .box .img {
  width: 270px;
  height: 272px;
  border: 1px solid #3A3C56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team .team-cont .profiles .box .txt {
  padding-top: 35px;
  padding-left: 10px;
}

.team .team-cont .profiles .box .txt h2 {
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.team .team-cont .profiles .box .txt h3 {
  color: rgba(255, 255, 255, 0.69);
  text-transform: capitalize;
}

.team .team-cont .dots {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.team .team-cont .dots .dot {
  width: 12px;
  height: 12px;
  border: 1px solid #4E4F6E;
  border-radius: 50%;
  cursor: pointer;
}

.team .team-cont .dots .active-dot {
  background-color: #EF6D58;
  border-color: #EF6D58;
}

.team .team-cont .dots .four {
  display: none;
}

.team .team-cont .dots .five {
  display: none;
}

.testi {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 130px;
}

.testi .testi-cont .testi-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testi .testi-cont .testi-txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.testi .testi-cont .testi-txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 3rem;
  width: 330px;
  text-align: center;
  line-height: 50px;
}

.testi .testi-cont .boxes {
  padding-top: 65px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (75px)[12];
      grid-template-rows: repeat(12, 75px);
}

.testi .testi-cont .boxes .box {
  padding: 50px 75px 50px 50px;
  border: 1px solid #F3D1BF;
}

.testi .testi-cont .boxes .box .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
}

.testi .testi-cont .boxes .box .txt {
  padding-bottom: 50px;
}

.testi .testi-cont .boxes .box .txt p {
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  max-width: 458px;
}

.testi .testi-cont .boxes .box .prof {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testi .testi-cont .boxes .box .prof .name {
  padding-left: 25px;
}

.testi .testi-cont .boxes .box .prof .name h2 {
  padding-bottom: 15px;
  color: #391400;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.testi .testi-cont .boxes .box .prof .name h3 {
  color: #391400;
  text-transform: capitalize;
}

.testi .testi-cont .boxes .alan {
  background-color: white;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
}

.testi .testi-cont .boxes .richardo {
  border-left: none;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.testi .testi-cont .boxes .graham {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7/12;
}

.testi .testi-cont .boxes .maria {
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6/11;
}

.testi .testi-cont .seemore {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testi .testi-cont .seemore a {
  color: #391400;
  text-transform: uppercase;
  padding: 25px 45px 15px 45px;
  background-color: white;
  border-radius: 10px;
}

.pricing {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 110px;
}

.pricing .pricing-cont .pricing-txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.pricing .pricing-cont .pricing-txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 2.5rem;
  width: 300px;
  line-height: 42px;
  padding-bottom: 0px;
}

.pricing .pricing-cont .pricing-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing .pricing-cont .pricing-boxes .box {
  border: 1px solid #F3D1BF;
  padding: 60px 40px 50px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pricing .pricing-cont .pricing-boxes .box .box-txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
  padding-bottom: 45px;
}

.pricing .pricing-cont .pricing-boxes .box .box-txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 2.5rem;
  padding-bottom: 25px;
}

.pricing .pricing-cont .pricing-boxes .box .box-txt p {
  width: 320px;
  color: #391400;
  opacity: 64%;
  line-height: 32px;
  padding-bottom: 45px;
}

.pricing .pricing-cont .pricing-boxes .box .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 15px;
  padding-bottom: 40px;
}

.pricing .pricing-cont .pricing-boxes .box .plus h2 {
  color: #391400;
  text-transform: capitalize;
}

.pricing .pricing-cont .pricing-boxes .box .minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 15px;
  padding-bottom: 40px;
}

.pricing .pricing-cont .pricing-boxes .box .minus h2 {
  color: #391400;
  text-transform: capitalize;
  opacity: 64%;
}

.pricing .pricing-cont .pricing-boxes .box .contactus {
  padding-top: 45px;
}

.pricing .pricing-cont .pricing-boxes .box .contactus a {
  color: #391400;
  text-transform: uppercase;
  padding: 25px 40px 15px 40px;
  background-color: white;
  border-radius: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.pricing .pricing-cont .pricing-boxes .box .contactus a:hover {
  color: #28293E;
}

.pricing .pricing-cont .pricing-boxes .consultation {
  margin-top: 55px;
}

.pricing .pricing-cont .pricing-boxes .popular {
  margin-top: 20px;
  background-color: white;
}

.pricing .pricing-cont .pricing-boxes .popular .pop {
  padding-bottom: 20px;
}

.pricing .pricing-cont .pricing-boxes .popular .pop a {
  color: white;
  padding: 10px 20px 13px 20px;
  background-color: #EF6D58;
  border-radius: 30px;
}

.pricing .pricing-cont .pricing-boxes .popular .contactus a {
  background-color: #EF6D58;
  color: white;
}

.pricing .pricing-cont .pricing-boxes .design {
  margin-top: 55px;
}

.faq {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 160px;
}

.faq .faq-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq .faq-cont .faq-txt h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
}

.faq .faq-cont .faq-txt h2 {
  font-size: 3.5rem;
  letter-spacing: -1.14304px;
  font-family: "Epilogue", sans-serif;
  color: #391400;
  padding-bottom: 40px;
  text-transform: capitalize;
  font-size: 2rem;
  width: 300px;
  line-height: 48px;
}

.faq .faq-cont .faq-txt p {
  width: 470px;
  line-height: 32px;
  opacity: 64%;
  color: #391400;
}

.faq .faq-cont .faq-txt .contactus {
  padding-top: 35px;
}

.faq .faq-cont .faq-txt .contactus a {
  text-transform: capitalize;
  color: #391400;
}

.faq .faq-cont .faq-boxes {
  margin-top: 25px;
}

.faq .faq-cont .faq-boxes .active {
  padding: 50px 65px 45px 50px;
  background-color: white;
  border: 1px solid #F3D1BF;
}

.faq .faq-cont .faq-boxes .active .box-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.faq .faq-cont .faq-boxes .active .box-txt h2 {
  font-size: 1.5rem;
  color: #391400;
}

.faq .faq-cont .faq-boxes .active .box-txt p {
  width: 470px;
  opacity: 64%;
  color: #391400;
  line-height: 32px;
  font-size: 0.9rem;
}

.faq .faq-cont .faq-boxes .box {
  padding: 50px 65px 50px 50px;
  border: 1px solid #F3D1BF;
}

.faq .faq-cont .faq-boxes .box .box-txt h2 {
  font-size: 1.5rem;
  color: #391400;
}

.faq .faq-cont .faq-boxes .box .box-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map {
  overflow: hidden;
  background-color: #FDF0E9;
  padding-top: 115px;
  position: relative;
}

.map .map-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.map .submit {
  position: absolute;
  top: 300px;
  left: 200px;
  background-color: #FDF0E9;
  width: 470px;
}

.footer {
  background-color: #FDF0E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 100px;
}

.footer .footer-cont hr {
  height: 1px;
  background-color: #F3D1BF;
  border: none;
}

.footer .footer-cont .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
  padding-top: 60px;
}

.footer .footer-cont .top .agency {
  font-size: 1.2rem;
  color: #391400;
  text-transform: capitalize;
}

.footer .footer-cont .top .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 245px;
}

.footer .footer-cont .top .menu h3 {
  color: #EF6D58;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Epilogue", sans-serif;
  padding-bottom: 50px;
  padding-bottom: 30px;
}

.footer .footer-cont .top .menu .left nav ul, .footer .footer-cont .top .menu .right nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.footer .footer-cont .top .menu .left nav ul li a, .footer .footer-cont .top .menu .right nav ul li a {
  color: #391400;
}

.footer .footer-cont .top .soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer .footer-cont .top .soc .soc-icon {
  width: 48px;
  height: 48px;
  background-color: #EF6D58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.footer .footer-cont .copy {
  padding-top: 50px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-cont .copy h3 {
  color: #391400;
}

.footer .footer-cont .copy .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 80px;
}

.footer .footer-cont .copy .links a {
  color: #391400;
}

@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
  .header .nav ul {
    gap: 60px;
  }
  .header .modern-studio .txt h1 {
    font-size: 3rem;
  }
  .header .modern-studio img {
    width: 500px;
  }
  .feat {
    padding-top: 100px;
  }
  .feat .feat-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feat .feat-cont .txt {
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto;
  }
  .service .service-cont {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .service .service-cont .img {
    width: 800px;
  }
  .service .service-cont .img img {
    width: 100%;
  }
  .portfolio .portfolio-cont .box {
    width: 450px;
    overflow: hidden;
  }
  .explore .explore-cont .boxes .box {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .team .team-cont .dots .four {
    display: inline;
  }
  .pricing .pricing-cont .pricing-boxes .design {
    margin-top: 0px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 768px;
  }
  .header .nav ul {
    gap: 30px;
  }
  .header .modern-studio .txt h1 {
    font-size: 2rem;
  }
  .header .modern-studio img {
    width: 400px;
  }
  .div-prof {
    padding-top: 50px;
  }
  .about {
    padding-top: 10px;
  }
  .about .about-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-cont .img {
    width: 90%;
    height: auto;
  }
  .about .about-cont .img img {
    width: 100%;
  }
  .about .about-cont .txt {
    padding-left: 0px;
    padding-top: 30px;
  }
  .about .about-cont .txt h3 {
    padding-bottom: 20px;
  }
  .about .about-cont .txt h2 {
    text-align: left;
    width: 60%;
    padding-bottom: 20px;
  }
  .video .video-cont {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video .video-cont .img {
    width: 50%;
  }
  .video .video-cont .txt {
    width: 45%;
  }
  .video .video-cont .txt h3 {
    padding-bottom: 10px;
  }
  .video .video-cont .txt h2 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .features .features-cont .img {
    width: 60%;
  }
  .features .features-cont .img img {
    width: 100%;
  }
  .service {
    padding-top: 100px;
  }
  .service .service-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .service .service-cont .img {
    width: 500px;
  }
  .portfolio {
    overflow-x: hidden;
  }
  .portfolio .portfolio-cont .boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .portfolio-cont .boxes .none {
    display: none;
  }
  .contact .contact-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 80px;
  }
  .contact .contact-cont .star-img {
    top: -10%;
    left: 8%;
  }
  .contact .contact-cont .girl {
    top: 58%;
    left: 20%;
  }
  .contact .contact-cont .txt h2 {
    width: 100%;
  }
  .testi .testi-cont .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testi .testi-cont .boxes .richardo {
    border-left: 1px solid #F3D1BF;
  }
  .pricing .pricing-cont .pricing-boxes .design {
    margin-top: 0px;
  }
  .faq .faq-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-cont .top .menu {
    gap: 100px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 570px;
  }
  .header .modern-studio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .modern-studio .img {
    width: 90%;
  }
  .header .modern-studio .img img {
    width: 100%;
  }
  .header .modern-studio .txt {
    background-image: none;
    width: 90%;
    text-align: center;
    padding-top: 30px;
  }
  .header .modern-studio .txt h1 {
    padding-top: 20px;
    line-height: 40px;
    padding-bottom: 20px;
  }
  .header .modern-studio .txt p {
    padding-bottom: 20px;
  }
  .header .modern-studio .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav nav {
    display: none;
  }
  .header .nav .burger {
    display: block;
  }
  .header .contact-btn {
    display: none;
  }
  .div-prof .profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brands {
    padding-top: 20px;
  }
  .brands .brside {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .brands .brside::after {
    top: 130px;
  }
  .about .about-cont .txt h2 {
    font-size: 3rem;
  }
  .stat .stat-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .work-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .work-cont .txt {
    width: 100%;
  }
  .work .work-cont .numbers {
    padding-left: 0px;
  }
  .video .video-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .video .video-cont .img {
    width: auto;
  }
  .video .video-cont .txt {
    width: auto;
    padding-top: 30px;
  }
  .features .features-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .features .features-cont .img {
    width: 90%;
  }
  .team .team-cont .dots .five {
    display: inline;
  }
  .footer .footer-cont .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .footer .footer-cont .copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 576px) {
  .container {
    width: 360px;
  }
  .header .modern-studio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 50px;
  }
  .header .modern-studio .img {
    width: 90%;
  }
  .header .modern-studio .img img {
    width: 100%;
  }
  .header .modern-studio .txt {
    background-image: none;
    width: 90%;
    text-align: center;
    padding-top: 30px;
  }
  .header .modern-studio .txt h1 {
    padding-top: 20px;
    line-height: 40px;
    padding-bottom: 20px;
  }
  .header .modern-studio .txt p {
    padding-bottom: 20px;
  }
  .header .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div-prof .profile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brands .brside::after {
    top: 200px;
  }
  .about .about-cont .txt {
    padding-left: 5px;
    padding-right: 5px;
  }
  .about .about-cont .txt h2 {
    font-size: 2rem;
  }
  .features {
    padding-top: 50px;
  }
  .feat {
    padding-top: 50px;
  }
  .feat .feat-cont {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feat .feat-cont .txt {
    text-align: left;
  }
  .feat .feat-cont .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feat .feat-cont .right .acces {
    padding-right: 100px;
  }
  .service {
    padding-top: 50px;
  }
  .service .service-cont {
    gap: 0px;
  }
  .service .service-cont .img {
    width: 360px;
  }
  .service .service-cont .img img {
    width: 100%;
  }
  .service .service-cont .txt .top-txt h3 {
    padding-bottom: 20px;
  }
  .service .service-cont .txt .top-txt h2 {
    font-size: 2rem;
    padding-bottom: 0px;
    line-height: 35px;
  }
  .service .service-cont .txt .top-txt p {
    padding-bottom: 20px;
  }
  .service .service-cont .serv-prof .prof-img {
    width: 100px;
    height: 70px;
  }
  .contact .contact-cont {
    padding-left: 10px;
  }
  .portfolio .portfolio-cont .portfolio-head .list {
    display: none;
  }
  .portfolio .portfolio-cont .portfolio-head h2 {
    padding-bottom: 50px;
  }
  .team .team-cont .team-head .arrows {
    display: none;
  }
  .testi .testi-cont .boxes .box {
    padding: 30px;
  }
  .testi .testi-cont .boxes .box .stars {
    padding-bottom: 20px;
  }
  .testi .testi-cont .boxes .box .txt {
    padding-bottom: 30px;
  }
  .pricing .pricing-cont .pricing-boxes .box {
    padding: 30px 20px;
  }
  .faq .faq-cont .faq-txt p {
    width: 100%;
  }
  .faq .faq-cont .faq-boxes .active {
    padding: 50px 30px;
  }
  .faq .faq-cont .faq-boxes .active .box-txt .box-head h2 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 32px;
  }
  .faq .faq-cont .faq-boxes .active .box-txt p {
    width: 100%;
  }
  .faq .faq-cont .faq-boxes .box {
    padding: 50px 30px;
  }
  .faq .faq-cont .faq-boxes .box .box-txt .box-head h2 {
    font-size: 1.2rem;
    line-height: 32px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .about .about-cont .txt h2 {
    width: 80vw;
  }
  .work .work-cont .txt p {
    width: 360px;
  }
  .features {
    padding-top: 20px;
    overflow-x: hidden;
  }
  .features .features-cont .txt h2 {
    font-size: 2rem;
    width: 360px;
  }
  .features .features-cont .txt p {
    width: 360px;
  }
  .feat .feat-cont {
    overflow-x: hidden;
  }
  .feat .feat-cont .right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feat .feat-cont .right .prof {
    padding-right: 65px;
  }
  .feat .feat-cont .right .acces {
    padding-right: 65px;
  }
  .explore {
    overflow: hidden;
  }
  .explore .explore-cont .boxes .box {
    padding-right: 30px;
  }
}
/*# sourceMappingURL=style.css.map */